button[type='submit'] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: auto;
  font-size: 1.1rem;
  background-color: #ff7300;
  border-color: rgb(30, 173, 42);
  min-width: 300px;
}

body {
  width: 100%;
  height: 640px;
  margin: 0;
  background-color: #fd5d00;
  color: #000000;
  font-family: Tahoma;
  font-size: 16px;
  background-image: radial-gradient(orangered,black) ;
  /* background-image: linear-gradient(orangered,black); */
}


p {
  margin: 10px 0px;
  text-align: center;
  margin-bottom: 0%;
}

span {
  font-size: 12px;
  color: red;
  /* display: none; */
}

.regemailver {
  display: none;
}

label {
  font-weight: 600;
  font-size: larger;
}

form {
  overflow-y: auto;
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}


input,
textarea {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 95%;
  font-size: medium;
  border-radius: 5px;
}


#image {
  border: 1px solid black;
}

button {
  border-radius: 5px;
  background-color: #ff8800;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
}

button:active {
  transform: scale(0.95);
}
.modal {
  background: #000000e1;
}